.icon-list{
    padding-inline-start: 0 !important;
    float: left;
}
.icon-item{
    float: left;
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 1rem;
}
.head-text h1{
    font-size: 4rem;
    z-index: 99;
    width: 200%;
    margin-bottom: 2rem;
    background-color: #fce043;
    background-image: linear-gradient(90deg, #fce043 10%, #fb7ba2 74%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
@media (max-width: 768px) {
    .head-text h1{
        font-size: 3rem;
        z-index: 99;
        width: 100%;
        text-align: center;
    }
    .img-header{
        overflow: hidden;
    }
    .head-text a{
        margin: auto;
        align-content: center;
        width: 100%;
    }
}

.icon-item a i{
    margin-left: auto;
}
.icon-item a{
    color: var(--orange);
}
.icon-item a:hover{
    color: #f1b0b7;
}
.fa-gradient-blue{
    background: -webkit-linear-gradient(-70deg,#a2facf,#64acff) !important;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
ul{
    margin-block-start: 0;
}
#services{
    background-color: #edeef5;
}
.img-header{
    align-content: center;
    width: 100%;
}


.avatar{
    width: 100%;
    margin-right: 3rem  ;
    height: 100%;
}
.about-info h1{
    font-size: 4rem;
    background: -webkit-linear-gradient(-70deg,#db469f,#2188ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navbar .navbar-nav .nav-link:hover {
    color: #ffffff;
}
@media only screen and (min-width: 960px) {
    .navbar .navbar-nav .nav-link {

    }
    .navbar {
        padding: 0;
    }
    .navbar .navbar-brand {
        padding: 0 0.7em;
    }
}
.navbar .navbar-nav .nav-link {
    position: relative;
}
.navbar .navbar-nav .nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ffffff;
    color: transparent;
    width: 0%;
    content: '';
    height: 3px;
    transition: all 0.5s;
}
.navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
    padding-right: 1rem;
}
.navbar-nav .nav-item .nav-link {
    color: white;
}
#mainNav .navbar-nav .nav-item .nav-link.active{
    background-color: #fce043;
    background-image: linear-gradient(90deg, #fce043 10%, #fb7ba2 74%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.card-img-top{
    background-color: #2876f9;
    background-image: linear-gradient(180deg, #2876f9 0%, #6d17cb 74%);
}



